

 <!---- <h1>Interpolation Example</h1>
<br>

  Name :{{ name}}
  <br> age :{{age}}
  <br> Email <input type="text" value="{{email}}"/>
  
  <h1>Property Binding Example</h1>
  <br>Name<input type="text"[value]="name"/>
  <br>Age<input type="text"[value]="age"/>
  <br>Email<input type="text"[value]="email"/>

  <h1>Event Binding Example</h1>
  <button (click)="change()">change</button>

  <h2>Two Way Data Binding</h2>
  <br>
  Enter your first Name<input type="text" [(ngModel)]="fname"/>
  <br>
  welcome{{fname}}
<br>!---->
<h1 [ngClass]="myClass">Strucutral and Attributes</h1>
<br>
<button (click) ="changeFlag()">show or Hide Div</button>
<br><br>
<div *ngIf="flag" [ngStyle]="myStyle">
<br>
<ul>
  <li *ngFor ="let vec of vehicles" (click)="setSelectedItem(vec)">{{vec}}</li>
</ul>
<br>
<b>you have selected :{{selectedvehicle}}</b>
<br>
<div [ngSwitch]="selectedvehicle">
  <font color="green"*ngSwitchCase="'twowheeler'">Bike</font>
  <font color="green"*ngSwitchCase="'threewheeler'">auto</font>
  <font color="green"*ngSwitchCase="'fourwheeler'">car</font>
  <font color="green"*ngSwitchDefault>invalid</font>
</div>
<br>
<button (click)="changeStyle()">change</button>
</div>


